@use '@/styles/colors' as colors;
.mainCard {
  border-radius: 8px;
  background-color: #fff;
  padding: 3.2%;
  // max-height: 88vh;
  // height: 80vh;
}

.title {
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
  height: 50px;
}

.formContainer {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
}

.title img {
  border-radius: 4px;
}
.inputSearchTask {
  border: none;
  padding: 10px;
  padding-left: 40px;
  border: 1px solid #eee;
  outline: none;
  width: 100%;
  border-radius: 4px;
  color: colors.$text;
}

.footer-options {
  padding-top: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
  // height: 64px;
}

.search-task-icon {
  color: colors.$primary;
  position: absolute;
  left: 16px;
}

.close-search-task-icon {
  color: colors.$text;
  position: absolute;
  right: 16px;
  cursor: pointer;
}

@media screen and (min-width: 0) {
  .mainCard {
    width: 94vw;
  }
}
@media screen and (min-width: 768px) {
  .mainCard {
    width: 64vw;
  }
}

@media screen and (min-width: 1200px) {
  .mainCard {
    width: 48vw;
  }
}
